* {}
html {
  font-family: 'objektiv-mk1-n4', 'objektiv-mk1', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  background: rgba(251,210,163,1.0);
  color: rgba(0,0,0,1.0);
  margin: 0;
  padding: 0;
}

a:link {text-decoration:none; color:rgba(0,0,0,1.0);}
a:visited {text-decoration:none; color:rgba(0,0,0,1.0);}
a:hover {
  text-decoration: none;
  font-family: 'objektiv-mk1-n7', 'objektiv-mk1', sans-serif;
  font-weight: 700;
  font-style: normal;
}
a:active {text-decoration: none;}

nav {
  text-align: center;
  margin: 0;
  padding: 0;
}

ul {list-style-type:none; margin: 0; padding: 0;}

td {width:50%; overflow:hidden;}

footer {text-align: center; margin-top: 4%;}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

footer li {
  display: inline;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

footer li a {
  display: block;
}

/* IDs */
@media (max-width: 750px) {
  #datetime {font-size: 125%;}
}
@media (min-width: 750px) {
#datetime {
  font-size: 175%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
}

#wineries {display: none;}
#cideries {display: none;}

/* classes */

.logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.italic {
  font-family: 'objektiv-mk1-i3', 'objektiv-mk1', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.category {
  font-family: 'objektiv-mk1-n8', 'objektiv-mk1', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 200%;
}
.business_name {
  padding-top: 1.5em;
  font-size: 175%;
  font-family: 'objektiv-mk1-n7', 'objektiv-mk1', sans-serif;
  font-weight: 700;
  font-style: normal;
  white-space: nowrap;
}

.business_name a:hover {
  font-family: 'objektiv-mk1-n9', 'objektiv-mk1', sans-serif;
  font-weight: 900;
  font-style: normal;
  white-space: nowrap;
}

.business_address {font-size: 125%; white-space: nowrap;}

.business_address a:hover {
  font-family: 'objektiv-mk1-n7', 'objektiv-mk1', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.business_description {font-size: 125%;}

.strip {
  width:100%;
  margin-top:0;
  padding:0;
  display:block;
}

.wine_button {
  background: -webkit-linear-gradient(rgba(82,3,52,1.0),rgba(173,32,84,1.0));
  background: -moz-linear-gradient(rgba(82,3,52,1.0),rgba(173,32,84,1.0));
  background: -o-linear-gradient(rgba(82,3,52,1.0),rgba(173,32,84,1.0));
  background: linear-gradient(rgba(82,3,52,1.0),rgba(173,32,84,1.0));
}

table {text-align: left;}

td {width:auto;}

table img {
  width: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

.cider_button {
  background: -webkit-linear-gradient(rgba(252,184,80,1.0),rgba(253,220,145,1.0));
  background: -moz-linear-gradient(rgba(252,184,80,1.0),rgba(253,220,145,1.0));
  background: -o-linear-gradient(rgba(252,184,80,1.0),rgba(253,220,145,1.0));
  background: linear-gradient(rgba(252,184,80,1.0),rgba(253,220,145,1.0));
}

.social_icon {width:3em;}

.venue {
  font-size: 200%;
  font-family: 'objektiv-mk1-n7', 'objektiv-mk1', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding-top: 4%;
}

.day {
  font-family: 'objektiv-mk1-n9', 'objektiv-mk1', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 150%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
}

.time {
  font-family: 'objektiv-mk1-n9', 'objektiv-mk1', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 200%;
  letter-spacing: -.5px;
  text-align: right;
  padding-right: 1.5em;
  width: auto;
  white-space: nowrap;
}

.name {
  font-family: 'objektiv-mk1-n7', 'objektiv-mk1', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 150%;
  width: auto;
}

.name a:hover {
  font-family: 'objektiv-mk1-n9', 'objektiv-mk1', sans-serif;
  font-weight: 900;
  font-style: normal;
}
@media (max-width: 750px) {
.garage_name {width: 80%;} }

@media (min-width: 750px) {
garage_name {width: 40%;} }

.garage_address {font-size:150%;}

.garage_description {font-size: 125%; margin-bottom: 4%;}

.note {font-size: 150%;}

.description {
  font-family: 'objektiv-mk1-i3', 'objektiv-mk1', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 125%;
}

.questions {
  font-size: 150%;
}

.questions td {padding-bottom: 2%; width:auto;}

.q_num {width: 5% !important;}

.answer_1 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.ansbtn_1 {background: rgba(0,0,0,0.2); visibility:visible;}
.answer_2 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_3 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_4 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_5 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_6 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_7 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_8 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_9 {text-align: center; width:60% !important; padding-bottom: 2em;  visibility:hidden;}
.answer_10 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_11 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_12 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_13 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_14 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_15 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_16 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_17 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_18 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_19 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
.answer_20 {text-align: center; width:60% !important; padding-bottom: 2em; visibility:hidden;}
