* {}
html {
  font-family: 'ff-meta-web-pro-n4', 'ff-meta-web-pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  background: rgba(251,210,163,1.0);
  color: rgba(0,0,0,1.0);
}

a:link {text-decoration:none; color:rgba(0,0,0,1.0);}
a:visited {text-decoration:none; color:rgba(0,0,0,1.0);}
a:hover {
  text-decoration: none;
  font-family: 'ff-meta-web-pro-n7', 'ff-meta-web-pro', sans-serif;
  font-weight: 700;
  font-style: normal;
}
a:active {text-decoration: none;}

nav {
  text-align: center;
}

ul {list-style-type:none;}

footer {text-align: center;}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

footer li {
  display: inline;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

footer li a {
  display: block;
}

/* IDs */

#datetime {
  font-size: 175%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

/* classes */

.logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.italic {
  font-family: 'ff-meta-web-pro-i4', 'ff-meta-web-pro', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.strip {
  width:100%;
  margin-top:-(20vh)%;
  padding:0;
  display:block;
}

.social_icon {width:3em;}
